#pokemon-virtual-list {
    height: 68vh;
    padding-top: 20px;
}

#row-list {
    display: flex;
    gap: 1%;
    justify-content: center;
}

#error-text {
    color: #f87171;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}