.pokemon-list-container {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #460000 0%, #d60808 100%);
    min-height: 70vh;
    width: 100%;
    padding: 20px 0;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    list-style-type: none;
    padding: 20px;
    gap: 20px;
    height: fit-content;
    width: 100%;
    max-width: 1400px;
}

.pokemon-list li {
    margin: 0;
    padding: 0;
    height: fit-content;
}
