#pokemon-virtual-list {
    height: 65vh;
    padding-top: 20px;
}

#row-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

#error-text {
    color: #f87171;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}