.pokemon-list-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #b87b7b;
    min-height: 100vh;
    width: 100%;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 20px;
    gap: 10px;
    height: fit-content;
    width: 100%;
}

.pokemon-list li {
    margin: 0;
    padding: 0;
    height: fit-content;
}
